/.godot/
/client/.godot/
/client/.import/
/client/export.cfg
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
/tools/
/.dbg/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/shelf/
*.class
*.log
*.tmp
.env
.env.*
!.env.example
.idea